a {
    font-weight: 700;
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1 {
    background-color: #f9f7f6;
    color: black;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    padding: 20px 30px 20px 30px;
}

hr {
    border: 2px solid #ffcd41;
    margin: 0;
}

.banner {
    background-color: #d41c2c;
    padding: 20px;
}
.button {
    background-color: #d41c2c;
    border-radius: 30px;
    color: #ffffff;
    margin-top: 200px;
    padding: 20px;
}

.button:hover {
    background-color: #d41c2c;
}

.container {
    margin: 80px 35px 60px 35px;
}

.green-text {
    color: #318b0b;
    font-weight: 700;
    margin: 0px 0px 30px 0px;
}